@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;600&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Cormorant Garamond", serif;
  --font-sans: "Inter", sans-serif;

  --color-primary: #FFB5C0;
  --color-primary-dark: #FFB5C0;
  --color-primary-light: #F8DEDE;
  --color-background: #FFFFFF;
  --color-secondary: #FBEDED;
  --color-muted: #8A7B82;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
}